@model Sitecore.AspNetCore.Starter.Models.MenuHeaderBar

<div class="component menu-header-bar menu-header-bar--no-lang @Model.Styles @Model.GridParameters" id="@Model.Id">
    <div class="component-content">
        <h1>MENULANG</h1>
        @if (Model.Text != null)
        {
            <div class="menu-header-bar__logo">
                <sc-img asp-for="@Model.Text"/>
            </div>
        }
        @* No language selector in this variant *@
    </div>
</div>
